header {
  position: relative;
  background: linear-gradient(180deg, #121212 64.11%, #1E1E1E 100%);
  padding-top: 28px;
  padding-left: 30px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

  .header-bottom {
    margin-top: 10px;
    width: 100%;
    text-align: left;

    h1 {
      font-size: 24px;
      font-weight: 600;
      color: white;
    }

    .tabs {
      display: flex;
      bottom: 0;
      
      div {
        cursor:pointer;
        text-align: center;
        color: #FFFFFF91;
        padding: 6px 0 10px;
        width: 140px;
        text-transform: uppercase;
        &.active {
          color: white;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
    
    .header-bottom {
      text-align: center;
      
      h1 {
        margin-bottom: 15px;
      }
      
      .tabs {
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}