header {
  height: 100px;
  position: relative;
  background: linear-gradient(180deg, #121212 64.11%, #1E1E1E 100%);
  padding-top: 28px;
  padding-left: 30px;
box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

  .header-bottom {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    .tabs {
      display: flex;
      position: absolute;
      bottom: 0;
      
      div {
        cursor:pointer;
        text-align: center;
        color: #FFFFFF91;
        padding-bottom: 2px;
        width: 140px;
        &.active {
          color: white;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}